body {
    min-width: 400px;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 27px;
    font-family: "PT Sans Narrow", Arial, sans-serif;

    color: #000000;
    font-style: normal;

    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    font: inherit;
    color: #000000;
}

.select-page__wrapper {
    width: 1036px;

    margin: 100px auto;
}

.select-page__kitchen-list {
    list-style: none;

    margin: 0;
    padding: 0;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.kitchen {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    width: 508px;

    background-color: #F6F6F6;
    border-radius: 8px;

    overflow: hidden;
}

.kitchen:hover,
.kitchen:focus {
    background-color: #ffffff;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.kitchen__btn-left,
.kitchen__btn-right {
    position: absolute;

    z-index: 100;

    font-size: 0;

    top: 152px;
    left: 16px;

    width: 43px;
    height: 43px;

    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    background-image: url(./Foto/svg/16_slider_arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.kitchen__btn-right{
    left: auto;
    right: 16px;

    transform: rotate(180deg);
}

.kitchen__btn-right:hover,
.kitchen__btn-right:focus,
.kitchen__btn-left:hover,
.kitchen__btn-left:focus {
    border: 1px solid #000000;

    cursor: pointer;
}

.kitchen__btn-left:active,
.kitchen__btn-right:active {
    border: none;

    cursor: default;
}

.slider__img-wrapper {
    position: relative;

    width: 100%;

    height: 339px;
}

[class^="slider__img--"] {
    position: absolute;

    display: none;

    top: 0;
}

@keyframes bounce-left {
    0%   { transform: translateX(0);        }
    10%  { transform: translateX(-50px);    }
    20%  { transform: translateX(-100px);   }
    30%  { transform: translateX(-150px);   }
    40%  { transform: translateX(-200px);   }
    50%  { transform: translateX(-250px);   }
    60%  { transform: translateX(-300px);   }
    70%  { transform: translateX(-350px);   }
    80%  { transform: translateX(-400px);   }
    90%  { transform: translateX(-450px);   }
    100% { transform: translateX(-700px);   }
}

@keyframes bounce-right {
    0%   { transform: translateX(0);        }
    10%  { transform: translateX(50px);    }
    20%  { transform: translateX(100px);   }
    30%  { transform: translateX(150px);   }
    40%  { transform: translateX(200px);   }
    50%  { transform: translateX(250px);   }
    60%  { transform: translateX(300px);   }
    70%  { transform: translateX(350px);   }
    80%  { transform: translateX(400px);   }
    90%  { transform: translateX(450px);   }
    100% { transform: translateX(700px);   }
}

img.slider__img--active {
    display: block;

    z-index: 11;
}

img.slider__img--active-prev {
    display: block;
    z-index: 12;

    animation-name: bounce-left;
    animation-duration: 0.35s;
}

img.slider__img--active-next {
    display: block;
    z-index: 12;

    animation-name: bounce-right;
    animation-duration: 0.35s;
}

/* .slider__img--6 {
    z-index: 10;
}

.slider__img--5 {
    z-index: 11;
}

.slider__img--4 {
    z-index: 12;
}

.slider__img--3 {
    z-index: 13;
}

.slider__img--2 {
    z-index: 14;
}

.slider__img--1 {
    z-index: 15;
} */

.slider__description {
    display: none;

    position: absolute;

    z-index: 100;

    bottom: 0;

    margin: 0;
    padding: 20px;

    width: 100%;

    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.5);
}

.kitchen__btn-zoom {
    position: absolute;

    z-index: 100;

    font-size: 0;

    top: 5px;
    right: 4px;

    width: 32px;
    height: 34px;

    border: none;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

    background-image: url(./Foto/svg/Vector_zoom.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.kitchen__btn-zoom:hover,
.kitchen__btn-zoom:focus {
    cursor: pointer;

    border: 1px solid #000000;
}

.kitchen__btn-zoom:active{
    cursor: default;
    
    border: none;
}

.kitchen__slider__toggle {
    margin: 0;
    padding: 0;
    margin-top: -10px;
    
    text-align: center;
}

.slider-toggle {
    padding: 0;

    font-size: 0;

    width: 74px;
    height: 2px;

    margin-left: 5px;

    border: none;
    background-color: rgba(230, 230, 230, 1);
}

.slider-toggle:hover {
    cursor: pointer;
}

.slider-toggle:first-child {
    margin-left: 0;
}

.slider-toggle--active {
    background-color: rgba(255, 92, 0, 1);
}

.kitchen__information {
    box-sizing: border-box;

    width: 100%;

    margin: 0;
    margin-top: 10px;
    padding: 0 20px;
}

.kitchen__number {
    color: #656565;
}

.kitchen__title {
    margin: 0;
    padding: 0;

    font-size: 22px;
    line-height: 26px;
    font-weight: 600;

    color: #32312F;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kitchen__form-materials {
    margin-top: 15px;
}

.materials__legend {
    color: #656565;
}

.materials__list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    align-items: center;
    gap: 7px;
}

.materials__item-name {
    padding: 6px 12px;

    border-radius: 18px;

    background-color: #F6F6F6;
    color: #32312F;
}

.materials__item--input-conditional:checked + .materials__item-name {
    position: relative;

    padding-left: 35px;

    color: #ffffff;
    background-color: #32312F;

    border: none;

    cursor: default;
}

.materials__item--input-conditional:checked + .materials__item-name::before {
    content: "";

    position: absolute;

    left: 12px;
    top: 6px;

    width: 18px;
    height: 18px;

    background-color: #F6F6F6;

    border-radius: 50%;

    background-image: url(./Foto/svg/Vector_check_materials.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.materials__item-name:hover,
.materials__item-name:focus {
    cursor: pointer;

    border: 1px solid #000000;
}

.kitchen__wrapper-price-buy {
    margin: 0;
    padding: 0;

    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitchen__text-price {
    color: #656565;
}

.kitchen__price {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;

    color: #32312F;
}

.kitchen__price-meter {
    font-weight: 700;

    color: #32312F;
}

.button {
    box-sizing: border-box;

    margin: 0;
    padding: 17px 30px;

    width: 224px;

    font: inherit;

    background-color: #FF5C00;
    color: #ffffff;

    border-radius: 14px;

    text-align: center;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;

    border: none;
}

.kitchen__btn-buy {
    display: none;
}

.kitchen__btn-buy:hover,
.kitchen__btn-buy:focus {
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.kitchen__btn-buy:active {
    cursor: default;

    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

.kitchen__footer {
    margin: 0 20px;
    padding: 10px 0;

    border-top: 1px solid #E6E6E6;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__likes {
    box-sizing: border-box;

    position: relative;

    margin: 0;
    padding: 6px 12px;

    height: 34px;

    border: none;
    border-radius: 18px;

    background-color: #F6F6F6;

    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__likes:hover,
.footer__likes:focus {
    cursor: pointer;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.footer__likes:active {
    cursor: default;

    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.footer__like-img {
    margin-top: -2px;
}

.footer__likes--active path {
    fill: #FF5C00;
}

.footer__likes-nuber {
    font-weight: 700;

    color: #32312F;
}

.footer__calculation {
    position: relative;

    z-index: 100;

    margin: 0;
    padding: 0;
    padding-right: 15px;

    font: inherit;

    color: #656565;
}

.footer__calculation::after {
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    top: 8px;
    right: 0;

    background-image: url(./Foto/svg/16_slider_arrow_left.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    background-size: 9px 9px;

    transform: rotate(180deg);
}

.footer__calculation::before {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
  
    width: 0;
    height: 1px;
    
    background: #656565;

    transition: 0.3s;
}

.footer__calculation:hover::before {
    width: 100%;
}


.kitchen:hover .slider__description,
.kitchen:focus .slider__description {
    display: block;
    /* Можно добавить анимацию */
}

.kitchen:hover .kitchen__btn-buy,
.kitchen:focus .kitchen__btn-buy {
    display: block;
    /* Можно добавить анимацию */
}

@media (max-width: 1199px) {
    .select-page__wrapper {
        min-width: 400px;

        width: 390px;
    }

    .select-page__kitchen-list {
        grid-template-columns: 1fr;
    }

    .kitchen__btn-left,
    .kitchen__btn-right {
        display: none;
    }

    .kitchen:hover .slider__description,
    .kitchen:focus .slider__description {
        display: none;
    }

    .kitchen__btn-buy {
        display: block;

        font-size: 18px;
        line-height: 24px;
    }

    .kitchen__number {
        font-size: 16px;
    }

    .materials__legend {
        font-size: 16px;
    }

    .materials__item-name {
        font-size: 16px;
    }

    .kitchen__text-price {
        font-size: 16px;
    }

    .footer__likes-nuber {
        font-size: 16px;
    }

    .footer__calculation {
        font-size: 16px;
    }

    .footer__calculation::after {
        background-size: 10px 10px;
    }
}





/* desctop от 1200 
    mobile от 390 
    border: 1px solid black; */